/* Font family import */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
/* Special classes */
.selected{
  border: 3px #ffd900 solid !important;
}
.content_component{
   background-color: #dddcdc !important;
   font-family: "El Messiri", sans-serif;
  border-radius: 1rem;
  direction: rtl;
  left: 50%;
  max-height: 1200PX;
  position: absolute;
  text-align: center;
  top:50%;
  transform: translate(-50%,-50%);
  width: 90vw;
align-items: center;
box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
display: flex;
flex-direction: column;
gap:1.1rem;
padding-block:2.1rem;
padding-inline: 1.5rem;
}
.content_component .verseTitle{
    border-radius: 0.7rem;
  background-color: #020024 !important; 
  color: white !important;
  padding-block: 1.1rem;
  padding-inline: 1.5rem;
}
.content_component .theRefuge{
    color: #020024 !important;
}
.content_component .verse{
    color: #020024 !important;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.3;
 
} 
@media (min-width:767px) {
  .content_component{
 padding-inline: 1.7rem;
padding-block:2.3rem;
  }
  .content_component .verse{
    font-size:24px ;
  }
}
@media (max-height:767px) {
  .content_component{
    padding-inline: 1.3rem;
padding-block:1.1rem;
  }
  .content_component .verse{
    line-height: 1.7;
  }
}
/* Page icons */
.move_to a{
  border: 3px transparent solid ;
  cursor: pointer;
  margin-inline: 0.7rem;
background-color: #bcbcbcac !important;
border-radius: 50%;
padding: 0.7rem;
transition: all ease 0.3s;
}
.move_to a:hover{
 border: 3px #ffd90080 solid;
}
.home_icon img, .tafseer img {
  height: 1.5rem;
  transform: translateY(30%);
  width:1.5rem;
}